button{
    background-color: gray;
    color: black;
    border: 1px solid red;
    text-shadow: 3px 1px 5px white;
    box-shadow: 12px 2px 10px yellowgreen;
    background: linear-gradient(to right,red,blue
    );
    height: 20px;
    border-radius: 10px;
}
.box:hover{
    background-color: aquamarine;
}
.card{
    border: 10px double black;
    border-radius: 10px;
    padding: 10px;
}
*{
    margin: 1px 20px;
}