*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    padding: 20px;
    background-color: #2564cf;
    color: white;
    border: 2px solid white;
    font-size: large;
    font-weight: bolder;
    
}
.container{
    min-height: 700px;
    height: auto;
    background-color: #2564cf;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    min-height: 500px;
    height: auto;
    width: 600px;
    background-color: #1f1f1f;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 20px;
}
.form-row{
    display: flex;
    gap: 10px;
    align-items: center;
}
.content input{
    height: 50px;
    padding-left: 20px;
    width: 200px;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: black;
}
.content button{
    height: 50px;
    width: 70px;
    border-radius: 20px;
    border: none;
    background-color: #2564cf;
    color: white;
}
.content input:focus{
    border: none;
    outline: 2px solid #2564cf; 
     outline-offset: 3px; 
    box-shadow:0 0 5px #2564cf;
    transition-duration: 2s;
}
.content button:hover{
    background-color: #4d85e6;
    transition-duration: 1s;
}
.content ul{
    position: static;
    margin-top: 40px;
    padding-left: 0;
    width: 100%;
    color: white;
    font-size: large;
}
footer{
    padding: 20px;
    background-color: black;
    display: flex;
    justify-content:center;
    color: white;

}
footer:hover {
    background:linear-gradient(to right,white,#2564cf);
    font-size: large;
    transition-duration: 5s;
}
li{
    list-style: none;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 10px;
}

li::before{
    content: '';
    background-image: url("icons8-unchecked-checkbox-50.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid blue;
}
li::after{
    content: '';
    background-image: url("icons8-cross-mark-48.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
   
}
li.checked::before{
    background-image: url("icons8-tick-box-50.png");
    background-size: cover;
}
li.checked{
    text-decoration: line-through;
}