*{
  margin: 0;
}

button{
  height: 60px;
  width: 70px;
  border-radius: 50px;
  border: none;
}
button:hover{
  background-color: grey;
}
.nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(4, 122, 226);
  align-items: center;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container button{
background-color: aquamarine;
}
.container h1{
  margin: 20px;
}
.Dark{
  background-color: black;
  color: aliceblue;
}