*{
  margin: 0px;
}
body{
  height: 100vh;
  
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
position: relative;  

  color: aliceblue;
}
button{
 
display: inline-block;
height: 30px;
width: 50px;
border-radius: 50px;
background-color: blue;

}