*{
  margin: 0px;
}
body{
  
  
  background-color: black;

}

h1{
position: relative;  

  color: aliceblue;
}
button{
 
display: inline-block;
height: 30px;
width: 50px;
border-radius: 50px;
background-color: blue;

}