*{
  margin: 0;
}
.light {
  background: white;
  color: black;
  min-height: 100vh;
  transition: 0.3s;
}

.dark {
  background: black;
  color: white;
  min-height: 100vh;
  transition: 0.3s;
}

button {
  border-radius: 50px;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  
}
