img{
    width: 100px;
    height: 100px;
}
.container{
    display: flex;
    justify-content: space-around;
}
h2{
    margin-left: 160px;
}
button{
    margin: 20px;
cursor: pointer;
background-color: bisque;
border-radius: 20px;
width: 60px;
height: 40px;
border: none;
}
button:hover{
background-color: brown;
color: aliceblue;
}